<h1>TVShows</h1>

<ul>
  <li>
    <%= link_to 'Shows', shows_path %>
  </li>
  <li>
    <%= link_to 'Characters', characters_path %>
  </li>
  <li>
    <%= link_to 'Actors', actors_path %>
  </li>
</ul>


