.top-bar .left li {
  display: inline-block;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: table;
  width: 100%;
}

#header, #footer {
  display: table-cell;
  height: 1px;
  overflow: hidden;
}

html > body #content {
  display: table-row;
  height: auto;
}

#footer {
  border-top: 1px solid silver;

}