<%= form_for(@show) do |f| %>
  <% if @show.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@show.errors.count, "error") %> prohibited this show from being saved:</h2>

      <ul>
      <% @show.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :genre %><br>
    <%= f.text_field :genre %>
  </div>
  <div class="field">
    <%= f.label :premiere_year %><br>
    <%= f.number_field :premiere_year %>
  </div>
  <div class="field">
    <%= f.label :season_count %><br>
    <%= f.number_field :season_count %>
  </div>
  <div class="field">
    <%= f.label :episode_count %><br>
    <%= f.number_field :episode_count %>
  </div>
  <div class="field">
    <%= f.label :running %><br>
    <%= f.check_box :running %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
