<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @show.name %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @show.genre %>
</p>

<p>
  <strong>Premiere year:</strong>
  <%= @show.premiere_year %>
</p>

<p>
  <strong>Season count:</strong>
  <%= @show.season_count %>
</p>

<p>
  <strong>Episode count:</strong>
  <%= @show.episode_count %>
</p>

<p>
  <strong>Running:</strong>
  <%= @show.running %>
</p>

<%= link_to 'Edit', edit_show_path(@show) %> |
<%= link_to 'Back', shows_path %>
