<h1>Listing show_characters</h1>

<table>
  <thead>
    <tr>
      <th>Show</th>
      <th>Character</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @show_characters.each do |show_character| %>
      <tr>
        <td><%= show_character.show %></td>
        <td><%= show_character.character %></td>
        <td><%= link_to 'Show', show_character %></td>
        <td><%= link_to 'Edit', edit_show_character_path(show_character) %></td>
        <td><%= link_to 'Destroy', show_character, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Show character', new_show_character_path %>
