<p id="notice"><%= notice %></p>

<p>
  <strong>Show:</strong>
  <%= @show_character.show %>
</p>

<p>
  <strong>Character:</strong>
  <%= @show_character.character %>
</p>

<%= link_to 'Edit', edit_show_character_path(@show_character) %> |
<%= link_to 'Back', show_characters_path %>
