<!DOCTYPE html>
<html>
<head>
  <title>TVShows</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'http://cdn.foundation5.zurb.com/foundation.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header id="header">


  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">TVShows</a></h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="left">
        <li>
          <%= link_to 'Shows', shows_path %>
        </li>
        <li>
          <%= link_to 'Characters', characters_path %>
        </li>
        <li>
          <%= link_to 'Actors', actors_path %>
        </li>
      </ul>
    </section>
  </nav>
</header>

<div id="content">
  <div class="row">
    <div class="column small-12">
      <%= yield %>
    </div>

  </div>
</div>

<footer id="footer">
  Host name: <%= Socket.gethostname %>
  <br/>
  Port: <%= request.port %>
</footer>

</body>
</html>
